.tamanio{
  background-color:rgb(232, 74, 106);
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.title{
  margin-top: 4%;
  padding: 15px;
  display: flex;
  justify-content: center;
}


button{
  font-size: 20px;
}
/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {
  .tamanio{
    flex-direction: column;
  }
}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){
}


/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){
}

