mat-form-field {
  margin-right: 12px;
}


/* .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
} */

/* .example-full-width {
  width: 50%;
} */

.mat-radio-button ~ .mat-radio-button {
  /* margin-left: 16px; */
  margin: 16px;
 
}

/* .container{
  width: 100%;

} */

mat-form-field, .opc {
 width: 20%;
 margin-left: 6%;
 margin-top: 30px;
 float: left;


}


/* desde aqui */

.nv{
  width: 100%;
  height: 80px;
}


textarea{
  border: 1px solid #000;
}

.col-5{
 float: left;
  margin-left: 44px;

}
.fila-superior{
  margin-left: 20px;
  margin-bottom: 20%;
}


.saludo{
  
    margin-top: 130px;
    text-align: center;
    color: #202020;
    font-size: 30px;
    margin-bottom: 50px;
   
  
}

/*Nombre*/
.txtbox{
  background-color: transparent;
  padding: 12px;
  font-size: 18px;
  margin-top: -8px;
}

/*UBICACION Y DESCRIPCION*/
.question{
  font-size: 21px;
 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: crimson;
  
 
}
.question1{
  font-size: 21px;
 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: crimson;
  text-align: center;
}

.opc{
  text-align: right;
  margin-bottom: 20px;
  font-size: 25px;
  padding: 8px;
  border: 1px solid #000;
  background-color: transparent;
}




.descripcion{
  margin-left: 20px;
  width: 46%;
 
  text-align: center;
  float: right;
  margin-top: -31.5%;

}

textarea{
  padding: 15px;
  font-size: 15px;
}

/*HORA Y DIA*/

.columnaHorario, .fecha{
  width: 50%;
  margin-bottom: 15px;

 
}

.columnaHorario{

  margin-left: 55px;
}

.fecha{
  width: 40%;
  height: 200px;
  margin-left: 50px;
}

.date{
  font-size: 30px;
  width: 265px;
  background-color:crimson;
  height: 60px;
  color: white;
  text-align: center;
}
.date:hover{
  background-color: white;
  color: crimson;
}
.date1{
  font-size: 30px;
  width: 330px;
  background-color:crimson;
  height: 60px;
  color: white;
  text-align: center;
}

/*CALENDARIO*/
.calender{
  width: 40%;
  margin-right: 0px;
}

.all{
  width: 100%;
  margin: 20px;
}

.columna1{
  width: 10%;
  height: 80px;
  margin: 0px;
  float: left;
}

 full-calendar{
  width: 50%;
  margin: 0px;
  float: left;
}

/* h1{
  margin-bottom: 15px;
} */

.opc input{
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

label{
  padding: 10px;
}

.box{
 margin-left: -10px;
  margin: 0 34.5%;
} 


/*Tabla*/

table{
  width: 100%;
  /* margin: 0 10%;
  margin-bottom: 50px; */
}

th{
  border: 1px solid white;
  padding: 14px 18px;
  width: 10%;
  
}

td{
  border: 1px solid white;
  padding: 14px 18px;
  width: 10%;

}

.container-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;

}
.fila-centro2{
  margin-bottom: 20%;
}
.enviar{
  background-color: white;
  color: crimson;
  width: 20%;
  font-size:  20px;
  text-align: center;
  float: right;
  margin-top: -8%;
  margin-left: -3px;

}



/*RESPONSIVO 1024*/
@media screen and (max-width: 1024px) {
}


/*RESPONSIVO 800*/
@media screen and (max-width: 800px){
}


/*RESPONSIVO CELULAR*/

@media screen and (max-width: 400px){
*{
  margin-left: 0px;
  
  
}

.txtbox{
  
 font-size: 12px;

}

.saludo{
  font-size: 20px;
}
}


.mostrar{
  height: 200px;
  text-align: center;
}

/*   
  
.enviar{
  background-color: white;
  color: crimson;
  width: 20%;
  font-size:  20px;
  text-align: center;
  float: right;
  margin-top: -8%;

} */
/* .enviar:hover{
  color: crimson;
  background-color: white;
} */

#subtit{
  font-size: 34px;
}

.most{
  width: 100%;
  background-color: rgb(204, 50, 104);
  
}
.msg{
  font-size: 30px;
  color: crimson;
}


